<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас - Arduino Marketplace</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="icon" type="image/png" href="templates/logo.png" />
</head>
<body>
    <div hx-get="templates/header.html" hx-trigger="load" hx-target="this"></div>
    
    <main class="main">
        <section class="about-content">
            <h2>Про Arduino Marketplace</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat porro esse reprehenderit autem velit nihil molestiae, placeat suscipit eveniet dignissimos, neque assumenda et! Aperiam, magnam corporis. Dolorem vero consequuntur harum!</p>
        </section>
    </main>

    <div hx-get="templates/footer.html" hx-trigger="load" hx-target="this"></div>
</body>
</html>
