<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна - Arduino Marketplace</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="icon" type="image/png" href="templates/logo.png" />
</head>
<body>
    <div hx-get="templates/header.html" hx-trigger="load" hx-target="this"></div>
    
    <main class="main">
        <section class="home-content">
            <h2>Ласкаво просимо до Arduino Marketplace!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum obcaecati quam quia? Aliquam minus voluptate quae quod corrupti necessitatibus minima ad at? Odit ea suscipit esse libero corrupti debitis?</p>
        </section>
    </main>

    <div hx-get="templates/footer.html" hx-trigger="load" hx-target="this"></div>
</body>
</html>
