body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 20px;
}



.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #ff5722;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.product-item {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #ff5722;
}

.custom-showcase{
    padding: 10px;
}